@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

/* ---------- Global Styles ---------- */
body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #facc15;
}

/* ---------- Monaco Editor Decorations ---------- */
.line-decoration-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.line-decoration-yellow {
  background-color: rgba(255, 255, 0, 0.2);
}
