body {
  background-color: #1e1e1e;
  color: white;
  font-family: 'Inter', sans-serif;
}

h1 {
  color: #facc15;
}

/* Monaco Editor line highlights for Slither warnings */
.line-decoration-red {
  background-color: rgba(255, 0, 0, 0.2);
}

.line-decoration-yellow {
  background-color: rgba(255, 255, 0, 0.2);
}
